streamlit>=1.32.0
pandas>=2.0.0
numpy>=1.26.0
matplotlib>=3.8.0
scikit-learn
nltk
openai
requests
python-dotenv
bcrypt
reportlab
fpdf
transformers>=4.40.0
torch>=2.2.0
sentence-transformers>=2.2.0
bertopic
hdbscan
umap-learn
chromadb
langchain
langchain-community
langchain-chroma
langchain-openai
fastapi
uvicorn
tf-keras